<!DOCTYPE html>
<html{% if page.lang %}{% assign pgs = site.data.lang[page.lang] %} lang="{{ pgs.code }}"{% endif %}>
<!--include head-->
{% include head.html %}
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<style>
  body {
      position: relative;
  }
  ul.nav-pills {
      top: 60px;
      position: fixed;
  }
</style>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/toc.js"></script>

  <body data-spy="scroll" data-target="#toc">

    <!--include masthead-->
    {% include masthead.html %}
    <div class="container">
      <!--include header-->
      {% include header.html %}
      <div class="row">
        <nav  class="col-sm-3 col-sm-offset-1 blog-sidebar" id = "toc_second">
        <ul  class="nav nav-pills nav-stacked" id="toc"></ul>
        </nav >
        <div class="col-sm-8 blog-main">
          <!--include post -->
          {{ content }}
        </div><!-- /.blog-main -->
        <!--include category-->
        {% include category.html %}
		<!--include friendlinks-->
		{% include friendlinks.html %}
      </div><!-- /.row -->
    </div><!-- /.container -->
	<!--include search-->
	{% include search.html %}
    <!--include foot-->
    {% include foot.html %}
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?cbee78027de674c17a02dbe028699e5c";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>
      
  <p style="text-align: center">Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>   
  </body>
</html>
