<!DOCTYPE html>
<html{% if page.lang %}{% assign pgs = site.data.lang[page.lang] %} lang="{{ pgs.code }}"{% endif %}>
<!--include head-->
{% include head.html %}
  <body>

    <!--include masthead-->
    {% include masthead.html %}
    <div class="container">
      <!--include header-->
      {% include header.html %}
      <div class="row">
        <div class="col-sm-8 blog-main">
          <!--include post -->
          {{ content }}
        </div><!-- /.blog-main -->
        <!--include category-->
        {% include category.html %}
		<!--include friendlinks-->
		{% include friendlinks.html %}
      </div><!-- /.row -->
    </div><!-- /.container -->
	<!--include search-->
	{% include search.html %}
    <!--include foot-->
    {% include foot.html %}
    <script id="dsq-count-scr" src="//wenfengand.disqus.com/count.js" async></script>
    <a href="http://wenfengand.com/article2.html#disqus_thread">Second article</a>
  </body>
</html>
