<!DOCTYPE html>
<html{% if page.lang %}{% assign pgs = site.data.lang[page.lang] %} lang="{{ pgs.code }}"{% endif %}>
<!--include head-->
{% include head.html %}
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
  <body>

    <!--include masthead-->
    {% include masthead.html %}
    <div class="container">
      <!--include header-->
      {% include header.html %}
      <div class="row">
        <div class="col-sm-8 blog-main">
          <!--include post -->
          {{ content }}
        </div><!-- /.blog-main -->
        <!--include category-->
        {% include category.html %}
		<!--include friendlinks-->
		{% include friendlinks.html %}
      </div><!-- /.row -->
    </div><!-- /.container -->
	<!--include search-->
	{% include search.html %}
    <!--include foot-->
    {% include foot.html %}
    <script id="dsq-count-scr" src="//wenfengand.disqus.com/count.js" async></script>
  
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?cbee78027de674c17a02dbe028699e5c";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>
      
  <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>   
  </body>
</html>
